version: "3.9"

services:
  alex_back:
    build:
      context: ./Backend
      dockerfile: Dockerfile
    env_file:
      - Backend/.env
    networks:
      - alex_net
    expose:
      - "8080"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.alex_back.rule=Host(`api.great-alexandria-library.eu`)"
      - "traefik.http.routers.alex_back.entrypoints=http"
      - "traefik.http.services.alex_back.loadbalancer.server.port=8080"
      - "traefik.http.routers.alex_back_secure.rule=Host(`api.great-alexandria-library.eu`)"
      - "traefik.http.routers.alex_back_secure.entrypoints=https"
      - "traefik.http.routers.alex_back_secure.tls=true"
      - "traefik.http.routers.alex_back_secure.tls.certresolver=letsencrypt"

  alex_front:
    build:
      context: ./Frontend
      dockerfile: dockerfile
      args:
        VITE_API_URL: https://api.great-alexandria-library.eu
    networks:
      - alex_net
    expose:
      - "3000"
    depends_on:
      - alex_back
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.alex_front.rule=Host(`great-alexandria-library.eu`)"
      - "traefik.http.routers.alex_front.entrypoints=http"
      - "traefik.http.services.alex_front.loadbalancer.server.port=3000"
      - "traefik.http.routers.alex_front_secure.rule=Host(`great-alexandria-library.eu`)"
      - "traefik.http.routers.alex_front_secure.entrypoints=https"
      - "traefik.http.routers.alex_front_secure.tls=true"
      - "traefik.http.routers.alex_front_secure.tls.certresolver=letsencrypt"

networks:
  alex_net:
    driver: bridge