version: "3.9"

services:
  alex_back:
    build:
      context: ./Backend
      dockerfile: Dockerfile
    env_file:
      - Backend/.env
    networks:
      - alex_net
    expose:
      - "8080"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.alex_back_http.rule=Host(`api.great-alexandria-library.eu`)"
      - "traefik.http.routers.alex_back_http.entrypoints=http"
      - "traefik.http.routers.alex_back_http.middlewares=redirect-to-https"
      - "traefik.http.middlewares.redirect-to-https.redirectscheme.scheme=https"
      - "traefik.http.middlewares.redirect-to-https.redirectscheme.permanent=true"
      - "traefik.http.routers.alex_back_https.rule=Host(`api.great-alexandria-library.eu`)"
      - "traefik.http.routers.alex_back_https.entrypoints=https"
      - "traefik.http.routers.alex_back_https.tls=true"
      - "traefik.http.routers.alex_back_https.tls.certresolver=letsencrypt"
      - "traefik.http.services.alex_back.loadbalancer.server.port=8080"

  alex_front:
    build:
      context: ./Frontend
      dockerfile: dockerfile
      args:
        VITE_API_URL: https://api.great-alexandria-library.eu
    networks:
      - alex_net
    expose:
      - "3000"
    depends_on:
      - alex_back
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.alex_front_http.rule=Host(`great-alexandria-library.eu`) || Host(`www.great-alexandria-library.eu`)"
      - "traefik.http.routers.alex_front_http.entrypoints=http"
      - "traefik.http.routers.alex_front_http.middlewares=redirect-to-https"
      - "traefik.http.routers.alex_front_https.rule=Host(`great-alexandria-library.eu`) || Host(`www.great-alexandria-library.eu`)"
      - "traefik.http.routers.alex_front_https.entrypoints=https"
      - "traefik.http.routers.alex_front_https.tls=true"
      - "traefik.http.routers.alex_front_https.tls.certresolver=letsencrypt"
      - "traefik.http.services.alex_front.loadbalancer.server.port=3000"

networks:
  alex_net:
    driver: bridge