version: "3.9"

services:
  alex_back:
    build:
      context: ./Backend
      dockerfile: Dockerfile
    env_file:
      - Backend/.env
    networks:
      - alex_net
      - traefik
    labels:
      - traefik.enable=true
      - traefik.http.routers.alex_back.rule=Host(`13.48.70.161.sslip.io`) # temporaire
      - traefik.http.routers.alex_back.entrypoints=http
      - traefik.http.services.alex_back.loadbalancer.server.port=8080

  alex_front:
    build:
      context: ./Frontend
      dockerfile: dockerfile
      args:
        VITE_API_URL: http://13.48.70.161.sslip.io
    networks:
      - alex_net
      - traefik
    labels:
      - traefik.enable=true
      - traefik.http.routers.alex_front.rule=Host(`13.48.70.161.sslip.io`) && PathPrefix(`/`)
      - traefik.http.routers.alex_front.entrypoints=http
      - traefik.http.services.alex_front.loadbalancer.server.port=3000
    depends_on:
      - alex_back

networks:
  alex_net:
    driver: bridge

