version: "3.9"

services:
  alex_back:
    build:
      context: ./Backend
      dockerfile: Dockerfile
    env_file:
      - Backend/.env
    networks:
      - alex_net
    expose:
      - "8080"

  alex_front:
    build:
      context: ./Frontend
      dockerfile: dockerfile
      args:
        VITE_API_URL: https://api.great-alexandria-library.eu
    networks:
      - alex_net
    expose:
      - "3000"
    depends_on:
      - alex_back

networks:
  alex_net:
    driver: bridge
